@page
@model CouponApp.Web.Views.Account.AccessDeniedModel
@{
    <div class="card" style="max-width:500px;margin:40px auto;padding:30px;text-align:center;">
        <h2>Access denied</h2>
        <p>You do not have permission to access this page.</p>

        <a href="/" class="btn btn-primary">Go Home</a>
    </div>
}
