@model UpdateProductViewModel

<h1>Edit Product</h1>

<form asp-action="Edit" asp-route-id="@ViewContext.RouteData.Values["id"]" method="post">
    <input asp-for="Id" type="hidden" />
    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" />
        <span asp-validation-for="Name"></span>
    </div>

    <div>
        <label asp-for="Price"></label>
        <input asp-for="Price" />
        <span asp-validation-for="Price"></span>
    </div>
    <div>
        <label asp-for="StockQuantity"></label>
        <input asp-for="StockQuantity" />
        <span asp-validation-for="StockQuantity"></span>
    </div>

    <button type="submit">Save</button>
</form>
