@using CouponApp.Web.Models.Offer

@model CreateOfferViewModel

<div class="auth-container">
    <div class="auth-card">

        <h2>Create Offer</h2>

        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="form-alert"></div>

            <div class="form-group">
                <label asp-for="Title" class="form-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title"></span>
            </div>

            <div class="form-group">
                <label asp-for="Description" class="form-label"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description"></span>
            </div>

            <div class="form-group">
                <label asp-for="CategoryId"></label>
                <select asp-for="CategoryId" class="form-control" asp-items="Model.Categories"> <option value="">-- Select Category --</option></select>
            </div>

            <div class="form-group">
                <label asp-for="OriginalPrice"></label>
                <input asp-for="OriginalPrice" class="form-control" />
                <span asp-validation-for="OriginalPrice"></span>
            </div>

            <div class="form-group">
                <label asp-for="DiscountedPrice"></label>
                <input asp-for="DiscountedPrice" class="form-control" />
                <span asp-validation-for="DiscountedPrice"></span>
            </div>

            <div class="form-group">
                <label asp-for="TotalCoupons"></label>
                <input asp-for="TotalCoupons" class="form-control" />
                <span asp-validation-for="TotalCoupons"></span>
            </div>

            <div class="form-group">
                <label asp-for="StartDate"></label>
                <input asp-for="StartDate" type="date" class="form-control" />
                <span asp-validation-for="StartDate"></span>
            </div>

            <div class="form-group">
                <label asp-for="EndDate"></label>
                <input asp-for="EndDate" type="date" class="form-control" />
                <span asp-validation-for="EndDate"></span>
            </div>

            <div class="form-group">
                <label asp-for="ImageFile" class="form-label">Offer Image</label>
                <input asp-for="ImageFile" type="file" class="form-control" accept="image/*" />
                <span asp-validation-for="ImageFile"></span>
            </div>

            <button type="submit" class="btn btn-primary" style="width:100%">Create Offer</button>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}